@page
@using DoAnMonHoc_23880108.LuuTru;
@using DoAnMonHoc_23880108.NghiepVu;
@using DoAnMonHoc_23880108.Entity;
@model DoAnMonHoc_23880108.Pages.MH_DangKyModel
@{
	string s = "";
	string id = string.Empty;
	string pass1 = string.Empty;
	string pass2 = string.Empty;

	if (Request.Method == "POST")
	{
		id = Request.Form["id"]!;
		if (string.IsNullOrEmpty(id))
		{
			s = "Username không hợp lệ! ";
		}

		pass1 = Request.Form["pass1"]!;
		if (string.IsNullOrEmpty(pass1))
		{
			s += "Mật khẩu không hợp lệ! ";
		}

		pass2 = Request.Form["pass2"]!;
		if (string.IsNullOrEmpty(pass2) || pass2 != pass1)
		{
			s += "Xác nhận mật khẩu không trùng khớp! ";
		}

		if (s == string.Empty)
		{
			NguoiDung? user = XuLyNguoiDung.KhoiTaoNguoiDung(id, pass1);
			if (user.HasValue && XuLyNguoiDung.ThemNguoiDung(user.Value) == true)
			{
				s = "Tạo tài khoản người dùng thành công! ";
				Response.Redirect("/MH_DangNhap");
			}
			else if (user.HasValue && XuLyNguoiDung.ThemNguoiDung(user.Value) == false)
			{
				s = "Tài khoản người dùng đã tồn tại ";
			}
			else
			{
				s = "Tạo tài khoản thất bại! ";
			}
		}
	}
}

<p style=" text-align:center; font-size:larger; font-weight: bold">ĐĂNG KÝ TÀI KHOẢN NGƯỜI DÙNG</p>

<div style=" text-align:center">
	<form method="POST">
		<label for="fname">Nhập username:</label><br>
		<input type="text" id="fname" name="id" value=""><br><br>
		<label for="fname">Nhập mật khẩu:</label><br>
		<input type="password" id="fname" name="pass1" value=""><br><br>
		<label for="fname">Xác nhận mật khẩu:</label><br>
		<input type="password" id="fname" name="pass2" value=""><br><br>


		<input type="submit" value="Đăng ký" />
	</form>
</div>
<p>@s</p>
