@page
@using DoAnMonHoc_23880108.Entity;
@using DoAnMonHoc_23880108.NghiepVu;
@using DoAnMonHoc_23880108.LuuTru;

@model DoAnMonHoc_23880108.Pages.MH_SuaLoaiHangModel
@{
	string username = HttpContext.Session.GetString("username")!;

	if (string.IsNullOrEmpty(username))
	{
		Response.Redirect("/MH_TrangChu");
	}

	else
	{
		string tb = "";
		string tenLH = Request.Query["tenLH"]!;


		if (string.IsNullOrEmpty(Request.Query["tenLH"]))
		{
			tb = "Loại hàng không hợp lệ! ";
		}

		if (tb == string.Empty)
		{
			if (Request.Method == "GET")
			{
				XuLyLoaiHang.CapNhat();
				LoaiHang? lh = XuLyLoaiHang.DocLoaiHang(tenLH);
				if (lh.HasValue)
				{
					tenLH = lh.Value.Ten;
				}
				else
				{
					tb = "Không tìm thấy mặt hàng! ";
				}
			}
			else if (Request.Method == "POST")
			{
				string tenMoi = Request.Form["tenLH"]!;
				if (string.IsNullOrEmpty(tenLH))
				{
					tb += "Tên loại hàng không hợp lệ! ";
				}

				if (tb == string.Empty)
				{
					LoaiHang? lh = XuLyLoaiHang.SuaLoaiHang(tenLH, tenMoi);
					if (lh.HasValue)
					{
						tb = "Sửa thông tin thành công! ";
						Response.Redirect("/MH_QuanLyLoaiHang");
					}
					else
					{
						tb = "Thông tin loại hàng không hợp lệ! ";
					}
				}
			}
		}
		@if (XuLyLoaiHang.DocLoaiHang(tenLH).HasValue)
		{
			<p>Sửa thông tin loại hàng @tenLH</p>

			<div>
				<form method="POST">

					<label for="fname">Nhập Tên loại hàng:</label><br>
					<input type="text" id="fname" name="tenLH" value="@tenLH"><br><br>

					<input type="submit" value="Sửa" />
				</form>
			</div>
		}
		<p>@tb</p>
	}
}
